$color-texto: #fff;
$color-texto2: #000000;
$color-cafe:#F7E5D2;
$scoloer-detalles:#404D3B;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
}
